prefix = "abc-"
region = "us-east-1"
ami_id = ""
instance_type = "m3.xlarge"
subnet_id = ""
instance_name = "boshlite"
key_name = "bosh-key"
pub_key = "ssh-rsa XXXXXXXXXXXXXXXYYYYYYYYYYZZZZZZ== comment"
vpc_id = ""
